<div class="addTableDiv" class="row">
  <div class="row light-blue">
    <div class="light-blue darken-1 z-depth-2">
      <h1>
        <h4 class="center grey-text text-lighten-4">
          <h5 class="center grey-text text-lighten-4">Molimo unesite sve podatke za tabelu</h5>
        </h4>
      </h1>
    </div>
    <div class="row">
      <form>
        <div class="row z-depth-1">
          <div class="container">
            <div class="col s12 m12">
              <div class="col s6 m3 offset-s4 offset-m4 text-lighten-4 input-field">
                <input id="table_name" type="text" class="validate grey lighten-3" ng-model="addTableCtrl.table.name">
                <label for="table_name" class="grey-text text-darken-4">Naziv tabele</label>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row z-depth-1" ng-repeat="column in addTableCtrl.table.columns track by $index">
            <div class="col s2 m2 text-lighten-4 input-field">
              <input id="table_column" type="text" class="validate grey lighten-3" ng-model=column.columnName>
              <label for="table_column" class="grey-text text-darken-4">Naziv kolone</label>
            </div>
            <div class="col s1 m2 text-lighten-4 input-field">
              <select id="select_tip" class="col s12 m12 grey lighten-3" ng-model="column.dataType" ng-options="type for type in addTableCtrl.dataTypes"></select>
              <label for="select_tip" class="grey-text text-darken-4">Tip kolone </label>
            </div>
            <div class="col s1 m2 text-lighten-4 input-field">
              <select id="select_tip" class="col s12 m12 grey lighten-3" ng-model="column.keyType" ng-options="key for key in addTableCtrl.keyTypes"></select>
              <label for="select_tip" class="grey-text text-darken-4">Tip kljuca </label>
            </div>
            <div class="col s3 m3 offset-s1 offset-m1 ">
              <div class="row">
                <input type="checkbox" class="white-text filled-in " id="nullable_checkBox" value="Nullable" ng-model="column.nullable" />
                <label for="nullable_checkBox" class="white-text">Nullable</label>
              </div>
              <div class="row">
                <input type="checkbox" class="white-text filled-in " id="unique_checkBox" value="Unique" ng-model="column.unique" />
                <label for="unique_checkBox" class="white-text">Unique</label>
              </div>
              <div class="row">
                <input type="checkbox" class="white-text filled-in " id="autoIncrement_checkBox" value="Auto increment " ng-model="column.autoIncrement" />
                <label for="autoIncrement_checkBox" class="white-text">Auto increment</label>
              </div>
            </div>
          </div>
        </div>
        <button type="button" name="button" ng-click="addTableCtrl.ispisi()"> Ispisi </button>
      </form>
    </div>
    <div class="" style="background-color:lightgrey;" ng-repeat="obbjjj in addTableCtrl.columnArray track by $index">
      <input type="text" name="" value="" ng-model="obbjjj.nesto">
      <br>
      <button type="button" name="button" style="padding:10px;" ng-click="addTableCtrl.remove($index)">-</button>
    </div>
    <button type="button" name="button" style="padding:10px;" ng-click="addTableCtrl.add()">+</button>

  </div>
</div>
