<div class="contentPageDiv" class="row">
  <div class="row dark-primary-color">
    <div class="default-primary-color darken-1 z-depth-1">
      <h1><h4 class="center text-primary-color text-lighten-4">Objekti u bazi su sljedeći</h4></h1>
    </div>
    <div class="row default-primary-color darken-1 z-depth-1">
    <div class="row">
      <div class="col s6 m3 offset-s2 offset-m3">
        <div class="card">
          <div class="card-image">
            <img src="pictures/tabele.png">
            <span class="card-title text-primary-color text-darken-4"></span>
            <div class="fixed-action-btn horizontal" style="position:absolute">
             <a class="btn-floating  accent-color">
               <i class="large material-icons">mode_edit</i>
             </a>
             <ul>
               <li><a class="btn-floating waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.showObjects('user_tables')"><i class="material-icons">search</i></a></li>
               <li><a class="btn-floating  waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.addObject('table')"><i class="material-icons">add</i></a></li>
             </ul>
           </div>
          </div>
          <div class="card-content">
            <h1><h4>Tabele</h4></h1>
            <p>U bazi postoji {{dbObjectsCtrl.brojTabela}} tabela</p>
          </div>
        </div>
      </div>

      <div class="col s6 m3">
        <div class="card">
          <div class="card-image">
            <img src="pictures/triggeri.png">
            <span class="card-title text-primary-color text-darken-4"></span>
              <div class="fixed-action-btn horizontal" style="position:absolute">
               <a class="btn-floating  accent-color">
                 <i class="large material-icons">mode_edit</i>
               </a>
               <ul>
                 <li><a class="btn-floating waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.showObjects('user_triggers')"><i class="material-icons">search</i></a></li>
                 <li><a class="btn-floating  waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.addObject('trigger')"><i class="material-icons">add</i></a></li>
               </ul>
             </div>
          </div>
          <div class="card-content">
            <h1><h4>Triggeri</h4></h1>
            <p>U bazi postoji {{dbObjectsCtrl.brojTriggera}} triggera</p>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col s6 m3 offset-s2 offset-m3">
        <div class="card">
          <div class="card-image">
            <img src="pictures/procedure.png">
            <span class="card-title text-primary-color text-darken-4"></span>
              <div class="fixed-action-btn horizontal" style="position:absolute">
               <a class="btn-floating  accent-color">
                 <i class="large material-icons">mode_edit</i>
               </a>
               <ul>
                 <li><a class="btn-floating waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.showObjects('user_procedures')"><i class="material-icons">search</i></a></li>
                 <li><a class="btn-floating  waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.addObject('procedure')"><i class="material-icons">add</i></a></li>
               </ul>
             </div>
          </div>
          <div class="card-content">
            <h1><h4>Procedura</h4></h1>
            <p>U bazi postoji {{dbObjectsCtrl.brojProcedura}} procedura</p>
          </div>
        </div>
      </div>
      <div class="col s6 m3">
        <div class="card">
          <div class="card-image">
            <img src="pictures/pogledi.png">
            <span class="card-title text-primary-color text-darken-4"></span>
              <div class="fixed-action-btn horizontal" style="position:absolute">
               <a class="btn-floating  accent-color">
                 <i class="large material-icons">mode_edit</i>
               </a>
               <ul>
                 <li><a class="btn-floating waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.showObjects('user_views')"><i class="material-icons">search</i></a></li>
                 <li><a class="btn-floating  waves-effect waves-light accent-color divider-color" ng-click="dbObjectsCtrl.addObject('view')"><i class="material-icons">add</i></a></li>
               </ul>
             </div>
          </div>
          <div class="card-content">
            <h1><h4>Pogledi</h4></h1>
            <p>U bazi postoji {{dbObjectsCtrl.brojPogleda}} pogleda</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
